<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="SenderEmailId" value="akhil@websiteforsure.com" />
    <add key="SMTPServer" value="relay-hosting.secureserver.net" />
    <add key="SenderPassword" value="Alex$tiffler_9" />
  </appSettings>
</configuration>

